<!-- application/views/scripts/guestbook/index.phtml -->
<?php
	$list_session = new Zend_Session_Namespace('list_session');
	
	if(isset($list_session->is_logged)&&$list_session->is_logged==true){
		
	}
	else{
		echo '<p><a href="';
		echo $this->url(
		    array(
		        'controller' => 'users',
		        'action'     => 'signup'
		    ),
		    'default',
		    true);
		echo'">Sign Up</a></p>';
		echo '<p><a href="';
		echo $this->url(
		    array(
		        'controller' => 'users',
		        'action'     => 'login'
		    ),
		    'default',
		    true);
		echo'">Log In</a></p>';
	}

	
?> 
 
<div class="page_title">Your current lists:</div>
<div class="message">
	<a href="<?php echo $this->url(
    array(
        'controller' => 'lists',
        'action'     => 'add'
    ),
    'default',
    true) ?>">New List</a>
	
</div>

     <?php foreach ($this->entries as $entry):   ?>
     <fieldset class="list_class" id="<?php echo $entry->id; ?>">
     	<legend>Table #<?php echo $entry->id; ?></legend>
    	<ul id="<?php echo $entry->id; ?>" class="sortable">
	    
		<?php
			$aux_list=explode(',', $this->escape($entry->content));
			foreach ($aux_list as $key => $value) {
				if($value!=""){
					echo '<div>'; 
					echo '<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s" style="float:left;"></span>'.$value.'<span class="ui-icon ui-icon-close remove_element" style="float:right;"></span></li>';
					echo '</div>';	
				}
				
			}
		?>
		</ul>
		<div class="button">
			<button type="button" class="_delete">Delete</button>
			<button type="button" class="_update">Update</button>
		</div>
	</fieldset>
    <?php endforeach ?>


<script>
jQuery(document).ready(function($) {
	$( ".sortable" ).sortable();
	$( ".sortable" ).disableSelection();

	$('.remove_element').click(function(event) {
		$(this).parent().remove();
	});

	$('.button ._delete').click(function(event) {
		var aux=$(this);
		$.post('lists/delete', {table_id: $(this).parent().parent().attr('id')}, function(data, textStatus, xhr) {
			console.log($(this).parent().parent().html());
			$(aux).parent().parent().remove();
		});
	});
	
	$('.button ._update').click(function(event) {
		var list_content="";
		$(this).parent().parent().find('ul li').each(function( index ) {
			list_content=list_content+ $( this ).text()+",";
		});

		$.post('lists/update', {content: list_content,table_id: $(this).parent().parent().attr('id')}, function(data, textStatus, xhr) {
			/*optional stuff to do after success */
		});

	});
	
});
</script>