Welcome to super list. Log into your account
 
<?php
$this->form->setAction($this->url());
echo $this->form;

?>

<div class="message">
	New here? Maybe you should try <a href="<?php echo $this->url(
    array(
        'controller' => 'users',
        'action'     => 'signup'
    ),
    'default',
    true) ?>">creating a new Account!</a>
	
</div>