<!-- application/views/scripts/guestbook/index.phtml -->
<?php
	$list_session = new Zend_Session_Namespace('list_session');
	
	if(isset($list_session->is_logged)&&$list_session->is_logged==true){
		
	}
	else{
		echo '<p><a href="';
		echo $this->url(
		    array(
		        'controller' => 'users',
		        'action'     => 'signup'
		    ),
		    'default',
		    true);
		echo'">Sign Up</a></p>';
		echo '<p><a href="';
		echo $this->url(
		    array(
		        'controller' => 'users',
		        'action'     => 'login'
		    ),
		    'default',
		    true);
		echo'">Log In</a></p>';
	}

	
?> 
 
Users Entries: <br />
<dl>
    <?php foreach ($this->entries as $entry): ?>
    <dt><?php echo $this->escape($entry->username) ?></dt>
    <dd><?php echo $this->escape($entry->password) ?></dd>
    <?php endforeach ?>
</dl>