<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Superpass</title>
  <?php echo $this->headLink()->appendStylesheet('/css/global.css') ?>
  <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl('../application/layouts/scripts/site_css.css'); ?>" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</head>
<body>
<div id="header" style="background-color: #EEEEEE; height: 30px;">
    <div id="header-logo" style="float: left">
        <b>Super Lists. Now with 57% Lorem Lipsum</b>
    </div>
    <div id="header-navigation" style="float: right">
        <?php
	        $list_session = new Zend_Session_Namespace('list_session');
        	if(isset($list_session->is_logged)&&$list_session->is_logged==true){
        		echo '<div class="top_control"><a href="';
        		echo $this->url(
        		    array(
        		        'controller' => 'users',
        		        'action'     => 'logout'
        		    ),
        		    'default',
        		    true);
        		echo'">Logout</a></div>';
        	}
        	else{
        		echo '<div class="top_control"><a href="';
        		echo $this->url(
        		    array(
        		        'controller' => 'users',
        		        'action'     => 'signup'
        		    ),
        		    'default',
        		    true);
        		echo'">Sign Up</a> | ';
        		echo '<a href="';
        		echo $this->url(
        		    array(
        		        'controller' => 'users',
        		        'action'     => 'login'
        		    ),
        		    'default',
        		    true);
        		echo'">Log In</a></div>';
        	}

        ?>
    </div>
</div>
 
<?php echo $this->layout()->content ?>
 
</body>
</html>